Repository cloudposse-terraform-components/aws-ses, pull requests merged in 2025-01, with the labels that each got.

#12 Fix tf format and add Editor config
  .editorconfig
  .github/renovate.json
  .github/settings.yml
  docs/.gitkeep
  src/context.tf
Labels: auto-update, no-release, needs-cloudposse, migration

#14 Added contributors by triggering setting app
  .github/settings.yml
Labels: auto-update, no-release, migration

#15 Added contributors by triggering setting app
  .github/settings.yml
Labels: auto-update, no-release, migration

#16 Added contributors by triggering setting app
  .github/settings.yml
Labels: auto-update, no-release, migration

#17 Update codeowners file
  .github/CODEOWNERS
Labels: auto-update, no-release, migration

#11 splat operator update to current syntax
  src/main.tf
  src/outputs.tf
Labels: needs-test
